@import url('https://cdn.syncfusion.com/ej2/material.css');
.selection-row{
    display: flex;
}
.completeness-table{
    margin-top: 1em;
    width: inherit;
}


.linkactive{
    border : solid 1px #c4c6d4;
    background-color:#0022ff !important;
    color: #f9fafd !important;
}

table.table-hover tbody tr:hover{
    cursor: pointer;
}


thead, tbody, tr, td, th { box-sizing: border-box; display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody td, thead th {
    width: 159.43px;
    float: left;
}

tbody tr:first-child td {
    margin-top: 1px;
    border-top: 1px solid #fff;
}

/* tbody tr:last-child{
    background: linear-gradient(to bottom, rgba(249, 250, 253, 0), rgba(255, 255, 255, 0.9) 61%, rgba(255, 255, 255, 0.9));
    opacity: 0.3;
} */



